{{ ansible_managed | comment }}
[Unit]
Description=obs-studio prometheus lufs exporter
After=network.target

[Service]
Type=simple
User={{ lufs_exporter__user }}
Group={{ lufs_exporter__group }}
WorkingDirectory={{ lufs_exporter__home }}
ExecStart={{ lufs_exporter__home }}/loudness_exporter.py \
    --obsws "{{ lufs_exporter__obsws }}" {% if lufs_exporter__obsws_passwd is defined and lufs_exporter__obsws_passwd != "" %}\
    --obsws-passwd "{{ lufs_exporter__obsws_passwd }}"
{% endif %}
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
